*{

    box-sizing: border-box;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: inside;}
li{font-size: 1.25em;}


body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid ;
    box-shadow: 2px 2px 10px black;
    color: #d9ed92;
    background-color: #168aad;
}

button:hover{
    background-color: #184e77;
}

.container{
    max-height: 1400px;
    margin: auto;
}

.container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: #344e41;
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a:hover{
    color: whitesmoke;
}

#seccion1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/foto1.jpg");
    background-repeat: none;
    background-size: cover;
}

#seccion1 h1{
    color: white;
}

#seccion2 .container{
    text-align: center;
    padding: 200px 12px;
    background-color: #a3b18a;
}

#seccion3{
    background-color: #588157;
    color: white;
}

#seccion3 .container{
    padding: 100px 0px;
    text-align: center;
}

#seccion3 h2{
    margin-top: 0;
}

#seccion3 p{
    display: none;
}

#seccion3 .carta{
   background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;

}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/frond-end.jpg");
    background-repeat: none;
    background-size: cover;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/full-stack.jpg");
    background-repeat: none;
    background-size: cover;

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/python.jpg");
    background-repeat: none;
    background-size: cover;
    
}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracterisitcas li{
    margin: 15px 0px;
    font-weight: bold;
}

#aplica-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;
}

#aplica-ya h2{
    font-size: 50px;
}

#aplica-ya button{
    font-size: 5vh;
}

footer{
    background-color: #a3b18a;
}

footer p{
    margin: 0;
    color: #184e77;
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

@media (min-width: 700px){
    header{
        position: fixed;
        width: 100%;
    }


    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #seccion1 h1{
        font-size: 5em;
    }

    #seccion2 .container{
        display: flex;
        justify-content: center;
        background-image: url(/img/fondo_seccion2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    #seccion2 .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }

    #seccion2 h1{
        margin-top: 0px;
        font-family: 'Courier New', Courier, monospace;
    }

    #seccion2 .img-container{
        text-align: center;
        padding: 200px 12px;
        background-image: url(/img/men-job.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #seccion3 .programas{
        display: flex;
        justify-content: center;
    }

    #seccion3 p{
        display: block;
        margin-bottom: 30px;
    }

    #seccion3 h3{
        margin-top: 0;
    }

    #seccion3 .carta{
        padding: 50px;
    }

    #caracteristicas{
        background-image: url(/img/caracteristicas.jpg);
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }
}